/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.dark-theme {
  --first-color-dark: hsl(152, 8%, 20%);
  --title-color: rgb(242, 243, 242);
  --text-color: rgb(189, 194, 191);
  --body-color: rgb(28, 33, 31);
  --container-color: rgb(38, 44, 41);
}

/*========== Button Dark/Light ==========*/
.change-theme {
  color: var(--title-color);
  font-size: 1.15rem;
  cursor: pointer;
}

.dark-theme .steps__container,
.dark-theme .questions {
  background-color: var(--first-color-dark);
}

.dark-theme .products__product__circle,
.dark-theme .footer__subscribe {
  background-color: var(--container-color);
}

.dark-theme .contact__form__input,
.dark-theme .contact__form__textarea {
  background-color: transparent;
}

.dark-theme .scroll-header {
  box-shadow: 0 1px 4px rgba(10, 11, 10, 0.3);
}