.button {
  display: inline-flex;
  padding: 1.25rem 2rem 1.25em 2rem;
  line-height: 1rem;
  border-radius: .5rem;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  color: #FFF;
  background-color: var(--first-color);
  cursor: pointer;
  

  &:hover {
    background-color: var(--first-color-alt);
    

    & i {
      transform: translateX(.5rem);
    }
  }  

  &__icon {
    margin-left: .5rem;
    transition: .3s;
  }
}

