.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.section {
  margin-bottom: 8rem;

  &__title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-2);
  }
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  letter-spacing: -1px;

  &__icon {
    margin-right: var(--mb-0-5);
    color: var(--first-color);
  }
}

::-webkit-scrollbar {
  background-color: var(--text-color-light);
  width: .6rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: .5rem;
}