.questions {
  background-color: var(--first-color-lighten);

  &__container {
    padding-top: 6rem;
  }

  &__title {
    text-align: center;
    
  }

  &__details {
    background-color: #FFF;
    cursor: pointer;
    margin-bottom: 1rem;
    

    &__data {
      background-color: #FFF;
    }
  }
}
