*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  border: none;
}