/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  --first-color: rgb(62, 101, 83);
  --first-color-alt: rgb(54, 89, 73);
  --first-color-light: rgb(147, 189, 170);
  --first-color-lighten: rgb(230, 239, 235);
  --title-color: rgb(37, 40, 38);
  --text-color: rgb(86, 93, 89);
  --text-color-light: rgb(136, 145, 141);
  --body-color: rgb(255, 255, 255);
  --container-color: rgb(255, 255, 255);
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== Margins Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.dark-theme {
  --first-color-dark: hsl(152, 8%, 20%);
  --title-color: rgb(242, 243, 242);
  --text-color: rgb(189, 194, 191);
  --body-color: rgb(28, 33, 31);
  --container-color: rgb(38, 44, 41);
}

/*========== Button Dark/Light ==========*/
.change-theme {
  color: var(--title-color);
  font-size: 1.15rem;
  cursor: pointer;
}

.dark-theme .steps__container,
.dark-theme .questions {
  background-color: var(--first-color-dark);
}

.dark-theme .products__product__circle,
.dark-theme .footer__subscribe {
  background-color: var(--container-color);
}

.dark-theme .contact__form__input,
.dark-theme .contact__form__textarea {
  background-color: transparent;
}

.dark-theme .scroll-header {
  box-shadow: 0 1px 4px rgba(10, 11, 10, 0.3);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.4s;
}

h1, h2, h3 {
  color: var(--title-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  border: none;
}

img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1168px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.section {
  margin-bottom: 8rem;
}
.section__title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-2);
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  letter-spacing: -1px;
  color: var(--text-color);
}
.logo__icon {
  margin-right: var(--mb-0-5);
  color: var(--first-color);
}

::-webkit-scrollbar {
  background-color: var(--text-color-light);
  width: 0.6rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 0.5rem;
}

.button {
  display: inline-flex;
  padding: 1.25rem 2rem 1.25em 2rem;
  line-height: 1rem;
  border-radius: 0.5rem;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  color: #FFF;
  background-color: var(--first-color);
  cursor: pointer;
}
.button:hover {
  background-color: var(--first-color-alt);
}
.button:hover i {
  transform: translateX(0.5rem);
}
.button__icon {
  margin-left: 0.5rem;
  transition: 0.3s;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 1px 1px 4px rgba(29, 47, 39, 0.1);
  background-color: var(--body-color);
  transition: 0.4s;
  z-index: var(--z-fixed);
}
.header__container {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__button {
  display: inline-flex;
  color: var(--text-color);
}
.header__button i {
  font-size: 1.25rem;
}
.header .hamburguer {
  margin-left: var(--mb-1);
}

.nav {
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: 80%;
  border-radius: 1rem 0 0 1rem;
  padding: 1rem 0 0 3rem;
  display: flex;
  justify-content: space-between;
  box-shadow: -2px 0 4px rgba(29, 47, 39, 0.1);
  transition: 0.4s;
}
.nav__close {
  display: inline-flex;
  padding-right: 1rem;
  height: 2rem;
  color: var(--text-color);
}
.nav__close i {
  font-size: 1.5rem;
}
.nav__list {
  padding-top: 3rem;
}
.nav__list li {
  margin-bottom: var(--mb-1);
}
.nav__list li a {
  font-weight: var(--font-medium);
  color: var(--text-color);
}

.nav-open {
  right: 0;
}

.active-link {
  position: relative;
  color: var(--first-color);
}
.active-link::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: var(--first-color);
}

.home {
  margin-top: 7rem;
}
.home__main {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.home__socials {
  position: absolute;
  top: 10rem;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__socials .social__follow,
.home__socials .social__link {
  color: var(--first-color);
}
.home__socials .social__follow {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  display: block;
  transform: rotateZ(90deg);
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}
.home__socials .social__follow .social__space {
  margin-left: 0.5rem;
  width: 15px;
  background-color: var(--first-color);
  height: 2px;
}
.home__img {
  width: 200px;
}
.home__title {
  font-size: var(--big-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-1-5);
}
.home__description {
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-2);
}

.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__img {
  width: 280px;
  margin-bottom: var(--mb-2);
}
.about__description {
  margin-bottom: var(--mb-2);
  font-size: var(--normal-font-size);
}
.about__list {
  margin-bottom: var(--mb-2);
}
.about__list__item {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-1);
}
.about__list__item i {
  margin-right: var(--mb-0-5);
  color: var(--first-color);
}
.about__list__item span {
  font-size: var(--small-font-size);
}
.about__button {
  display: inline-flex;
  align-items: center;
  color: var(--first-color);
  font-weight: var(--font-medium);
}
.about__button:hover i {
  transform: translateX(0.5rem);
}
.about__button i {
  margin-left: 0.5rem;
  transition: 0.3s;
}

.steps__container {
  background-color: var(--first-color);
  border-radius: 1rem;
  padding-top: 3rem;
}
.steps__title {
  color: #FFF;
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  text-align: center;
  margin-bottom: var(--mb-2-5);
}
.steps__cards {
  display: flex;
  flex-direction: column;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}
.steps__card {
  background-color: var(--container-color);
  width: 100%;
  border-radius: 1rem;
  margin-bottom: var(--mb-2);
  padding: 2.5rem 3rem 2rem 1.5rem;
}
.steps__card:hover .steps__card__number {
  transform: translateY(-0.5rem);
}
.steps__card__number {
  background-color: var(--first-color);
  width: 45px;
  height: 45px;
  border-radius: 5px;
  color: #FFF;
  font-weight: var(--font-medium);
  font-size: var(--h2-font-size);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--mb-1-5);
  transition: 0.3s;
}
.steps__card__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-1);
}
.steps__card__description {
  font-size: var(--small-font-size);
}

.products__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products__title {
  text-align: center;
}
.products__description {
  font-size: var(--normal-font-size);
  text-align: center;
  margin-bottom: 2rem;
}
.products__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 550px;
}
.products__product {
  width: 150px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 1rem;
}
.products__product:hover .products__product__img {
  transform: translateY(-0.5rem);
}
.products__product__circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--first-color-lighten);
  position: absolute;
  top: 18%;
  left: 5%;
}
.products__product__img {
  width: 120px;
  margin-bottom: 1rem;
  align-self: center;
  position: relative;
  transition: 0.3s;
}
.products__product__title {
  font-size: var(--small-font-size);
}
.products__product__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products__product__price {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}
.products__product__button {
  background-color: var(--first-color);
  width: 30px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}
.products__product__button i {
  color: #FFF;
  font-size: var(--normal-font-size);
}

.questions {
  background-color: var(--first-color-lighten);
}
.questions__container {
  padding: 6rem 0 2rem 0;
}
.questions__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1.5rem;
}
.questions__title {
  text-align: center;
}
.questions__details {
  background-color: #FFF;
  cursor: pointer;
  padding: 1rem 0.5rem 1rem 0.5rem;
  border-radius: 0.5rem;
}
.questions__details__summary {
  transition: 0.3s;
}
.questions__details__description {
  padding-top: 1rem;
}

.active-question {
  background-color: var(--first-color);
}

.contact__content {
  margin-bottom: 2rem;
}
.contact__info {
  margin-bottom: 2rem;
}
.contact__info__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 0.5rem;
}
.contact__info__description {
  display: inline-flex;
  align-items: center;
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}
.contact__info__description .icon {
  font-size: var(--h2-font-size);
  margin-right: 0.5rem;
}
.contact__form {
  width: 100%;
}
.contact__form__label {
  width: 100%;
  font-size: var(--normal-font-size);
}
.contact__form__input {
  border-width: 0 0 2px 0;
  border-color: #ccc;
  width: 100%;
  outline: none;
  height: var(--header-height);
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-2-5);
}
.contact__form__input:focus + .contact__form__label {
  font-size: var(--smaller-font-size);
}
.contact__form__textarea {
  border-width: 0 0 1px 0;
  outline: none;
  width: 100%;
  height: 5rem;
  margin-bottom: var(--mb-2-5);
  resize: none;
  font-size: var(--normal-font-size);
}

.footer__container {
  margin-bottom: 3rem;
}
.footer__logo {
  margin-bottom: 2rem;
}
.footer__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1.5rem;
}
.footer__subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--first-color-lighten);
  padding: 1rem 0.5rem 1rem 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}
.footer__subscribe__input {
  border: none;
  background-color: transparent;
  outline: none;
  width: 50%;
  height: auto;
  font-size: var(--h3-font-size);
}
.footer__subscribe__input::placeholder {
  font-size: var(--h3-font-size);
}
.footer__address {
  margin-bottom: 2rem;
}
.footer__address__list__item {
  font-size: var(--small-font-size);
  margin-bottom: 1rem;
}
.footer__contact {
  margin-bottom: 2rem;
}
.footer__contact-description {
  font-size: var(--small-font-size);
  margin-bottom: 1rem;
  display: inline-flex;
  align-items: center;
}
.footer__contact-description i {
  margin-right: 0.5rem;
}
.footer__contact-socials {
  font-size: var(--h3-font-size);
}
.footer__contact-socials .social {
  margin-right: 0.25rem;
  color: var(--text-color);
}
.footer__credit {
  margin-bottom: 3rem;
}
.footer__credit__cards .card {
  width: 40px;
}
.footer__copy {
  text-align: center;
  font-size: var(--smaller-font-size);
  font-weight: 300;
  margin-bottom: 1rem;
}

.scroll {
  padding: 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--first-color);
  border-radius: 5px;
  position: fixed;
  bottom: 3rem;
  right: 1rem;
  cursor: pointer;
  border: none;
  opacity: 0.8;
  transition: 4s;
}
.scroll__icon {
  font-size: var(--normal-font-size);
  color: #FFF;
}

@media screen and (min-width: 567px) {
  .steps__cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .steps__card {
    width: 47%;
  }
}
@media screen and (min-width: 767px) {
  .header {
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__container {
    width: 100%;
  }
  .header__buttons {
    justify-self: flex-end;
  }
  .header .hamburguer {
    display: none;
  }

  .nav {
    width: 80%;
    position: static;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    margin-right: 0;
    justify-content: end;
    margin-right: 3rem;
  }
  .nav__close {
    display: none;
  }
  .nav__list {
    width: 470px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__list li {
    margin: 0;
  }

  .home {
    margin-top: 11rem;
  }
  .home__container {
    display: flex;
    justify-content: space-between;
  }
  .home__main {
    margin-right: 3rem;
  }
  .home__content {
    order: -1;
    width: 400px;
  }
  .home__img {
    width: 280px;
  }
  .home__socials {
    top: 17rem;
  }

  .about__container {
    flex-direction: row;
    justify-content: space-around;
  }
  .about__content {
    width: 45%;
  }

  .contact__container {
    display: flex;
    justify-content: space-between;
  }
  .contact__content {
    width: 400px;
  }
  .contact__form {
    width: 50%;
  }

  .footer__container {
    display: flex;
    justify-content: space-between;
  }
  .footer__content {
    width: 45%;
  }
}
@media screen and (min-width: 967px) {
  .home {
    margin-top: 13rem;
  }
  .home__content {
    width: 500px;
  }
  .home__main {
    margin-right: 5rem;
  }
  .home__img {
    width: 350px;
  }
  .home__socials {
    top: 21rem;
  }

  .about__img {
    width: 400px;
  }

  .steps__cards {
    margin-left: var(--mb-2-5);
    margin-right: var(--mb-2-5);
  }
  .steps__card {
    width: 31%;
  }

  .products__content {
    max-width: 750px;
  }
  .products__product {
    width: 200px;
  }
  .products__product:hover .products__product__img {
    transform: translateY(-1rem);
  }
  .products__product__img {
    width: 150px;
  }
  .products__product__circle {
    width: 100px;
    height: 100px;
  }
}
@media screen and (min-width: 1028px) {
  .container {
    margin: auto;
  }

  .home__main {
    margin-right: 0;
  }
  .home__socials {
    position: static;
    margin-top: 8rem;
  }
}

/*# sourceMappingURL=style.css.map */
